@import url(../../../css-config/mixins.css);

.burger-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;

    .burger-bar {
        transform: translateY(-2px);
        width: 22px;
        margin-top: 5px;
        height: 2px;
        background-color: rgb(245, 245, 220);
        border-radius: 0.5em;

        &.clicked:nth-child(1) {
            transform: rotate(45deg) translateY(6px);
            transition: ease-out 0.25s;
        }

        &.clicked:nth-child(2) {
            display: none;
            transition: ease-out 0.25s;
        }

        &.clicked:nth-child(3) {
            transform: rotate(-45deg) translateY(-6px);
            transition: ease-out 0.25s;
        }

        &.unclicked {
            // transform: rotate(0) translate(0);
            transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.3s;
        }
    }
}

.menu {
    width: 100%;
    transform: translateY(50px);
    padding-bottom: 100%;
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;

    &.hidden {
        display: none;
    }

    &.visible {
        display: inherit;
    }

    ul {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-top: 10%;
        list-style: none;
        width: 100%;

        li {
            cursor: pointer;
            align-items: center;
            font-size: 27px;
            padding-bottom: 20px;
            font-weight: 700;
        }
    }
}