.shop-by-category {
  margin: 25px 0;

  .categories {
    display: flex;
    flex-flow: wrap;
    gap: 5px;

    .category {
      background-color: black;
      width: calc(25% - 5px);
      cursor: pointer;
      overflow: hidden;

      img {
        width: 100%;
        // max-width: 150px;
        // max-height: 100px;
        display: block;
        transition: all ease 0.3s;
      }

      &:hover {
        img {
          transform: scale(1.1);
        }
      }
    }
  }
}