
.title {
    text-align: left;
    padding-top: 5px;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .products {
    padding: 5px 0 50px 0;
    display: flex;
    flex-direction: row;
    // justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    justify-content: space-between;
  }