<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot password</title>
</head>
<body>

    <div class="container">
        <h2>Forgot Password</h2>
        <p>Hello {{firstName}} {{lastName}}</p>
        <p>It seems you have forgotten your password. Please click the button below to reset your password.</p>
        <form action="{{resetPasswordLink}}" method="post">
            <button type="submit" class="confirmation-button">Reset Password</button>
        </form>
    </div>

</body>
</html>