/* HomePage.scss */
.home {
    min-height: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 20px;
    text-align: center;
}

.home__title {
    font-size: 24px;
    margin-bottom: 20px;
}

.home__products {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: center;

}

.home__product {
    display: flex;
    flex-direction: column;
    // align-items: center;
    background-color: transparent;
    // background-color: #f9f9f9;
    border-radius: 10px;
    // padding: 20px;
    margin: 0 0 20px 20px;
    // box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.home__product-image {
    cursor: pointer;
    // width: 100%;
    width: 180px;
    height: 270px;
    border-radius: 3px;
    margin-bottom: 5px;
}


.home__product-info {
    display: flex;
    flex-direction: column;
}

.home__product-name {
    font-size: 18px;
    display: flex;
    justify-items: left;
}

.home__product-author {
    display: flex;
    cursor: pointer;
    justify-items: left;
    font-size: 14px;
}

.home__product-price {
    display: flex;
    

}